/* 
Brian Yang
IC Learning Web CSS File
Website for IC Learning Center
Started on 7/4/17
*/

/*Start of first page*/

body{
  background-color: #fffaf0;;
}

#leftNavigation ul{
  margin: 0px;
  padding: 0px;
}

#leftNavigation ul li{
  border: 1px solid;
  border-color: #ffeecc;
  font-size: 19px;
  font-family: 'Lato', sans-serif ;
  background-color: #fffaf0;
  width: 150px;
  height: 35px;
  line-height: 34px;
  float: left;
  text-align: center;
  list-style: none;
}
#leftNavigation ul li a{
  display: block;
  color: black;
  text-decoration: none;

}

#leftNavigation ul li a:hover{
  background-color:#ffeecc;
}

#leftNavigation ul li ul li{
  display: none;
  font-size: 16px;

}

#leftNavigation ul li:hover ul li{
  display: block;
}

#leftNavigation{
  position: absolute;
  top: 0px;
 left: 0px;
  word-break: break-all;
  z-index: 1;
}

#rightNavigation ul{
  margin: 0px;
  padding: 0px;
}

#rightNavigation ul li{
  border: 1px solid;
  border-color: #ffeecc;
  font-size: 19px;
    font-family: 'Lato', sans-serif ;
  background-color: #fffaf0;
  width: 150px;
  height: 35px;
  line-height: 34px;
  float: left;
  text-align: center;
  list-style: none;
}

#rightNavigation ul li a{
  display: block;
  color: black;
  text-decoration: none;
}

#rightNavigation ul li a:hover{
  background-color:#f5f5dc;
}

#rightNavigation ul li ul li{
  display: none;

}

#rightNavigation ul li:hover ul li{
  display: block;
}

#rightNavigation{
  position: absolute;
  top: 0px;
  left:75.8%;
  word-break: break-all;
  z-index: 1;
}

.nav-placeholder{
  margin: 0 0 40px 0;
}

nav{
    z-index: 500;
  }

#firstTopBar{
  position: absolute;
  top:0px;
  left: 0px;
  width: 1263px;
  height: 36px;
  background-color: #ffe6e8;
  z-index: -11;
  border-style: solid;
  border-width:2px;
  border-color: #ffeecc;
}

.wowza{
  position: absolute;
  left: -8px;
  opacity: .9;
  color: #fffaf0;
  font-family: 'Lato', sans-serif;
  font-size: 45px;
  height: 150px;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  }

p1{
  position: absolute;
  top: -180px;
  font-family: 'Lato', sans-serif;
  font-size: 80px;
  color: #fffaf0;
  background-color: lightpink;
  border-style: solid;
  border-width: 5px;
  z-index: +1;
  padding: 10px;
  left: 580px;
  border-radius: 55px;
}
span{
  text-transform: lowercase;
}

#firstImage{
  position: absolute;
  left: 0px;
  right: 0px;
  top: -212px;
  width: 101.1%;
  height: 340%;
  z-index: -2;
  filter: brightness(45%);
}

#firstTitle{
  position: relative;
  top: -50px;
  margin: 250px;
  color: #fffaf0;
}

#firstPageTextBlock{
  position: absolute;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
  margin: 50px;
  left: 10px;
  top: 335px;
  line-height: 25px;
}

#address{
  position:absolute;
  top:515px;
  padding: 5px;
  left: 0px;
  font-size: 25px;
  color: black;
  font-family: 'Lato', sans-serif;
  text-align: left;
  height: 70px;
  width: 1252px;
  text-align: center;
  background-color: #fffaf0;
  z-index: -1;
  line-height: 60px;
}

#firstPageLeftBlueBlock{
  position: absolute;
  left: 0px;
  top:298px;
  height: 70px;
  width: 70px;
  background-color:  #bee5f4;
  z-index: 1;
}

#firstPageRightBlueBlock{
  position: absolute;
  right: -15px;
  top:298px;
  height: 70px;
  width: 70px;
  background-color:  #bee5f4;
  z-index: 1;
}
/*End of first page*/

/*Start of second page*/
#little1{
  position: absolute;
  top: 620px;
  left: 0px;
  width: 130px;
  height: 80px;
  background-color: #ffe6e8;
}

#little2{
  position: absolute;
  top: 620px;
  right: 0px;
  width: 130px;
  height: 80px;
  background-color: #ffe6e8;
}

#ourPrograms{
  position: absolute;
  font-size: 65px;
  top: 570px;
  font-family:courier;
  text-transform: uppercase;
  color: black;
  border-style: solid;
  border-width: 3px;
  border-color: #bee5f4;
  padding: 10px;
  left: 250px;
  right: 250px;
  text-align: center;
  border-radius: 40px;
  color: skyblue;
}

.programs ul{
  margin: 0px;

}

.programs ul li{
  padding: 3px;
  position: relative;
  left:-20px;
  top: 380px;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  color: black;
  list-style-type:none;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-radius: 30px;
  border-color: #bee5f4;
  
}

.programs li{
  margin: 30px 350px;
}

.programs ul li a{
  text-decoration: none;
  color: black;
}

#leftPic{
  position: absolute;
  left: 40px;
  top: 780px;
  width: 240px;
  height: 350px;
  border-radius: 250px;
}

#rightPic{
  position: absolute;
  top: 780px;
  width: 240px;
  height: 350px;
  right: 40px;
  border-radius: 250px;
}

#little3{
  position: absolute;
  top: 1155px;
  left: 0px;
  width: 130px;
  height: 80px;
  background-color: #ffe6e8;
}

 #little4{
  position: absolute;
  top: 1155px;
  right: 0px;
  width: 130px;
  height: 80px;
  background-color:#ffe6e8;
}

/*End of second page */

/*Start of third page */

#little5{
  position: absolute;
  top: 1240px;
  left: 0px;
  width: 130px;
  height: 80px;
background-color: #bee5f4;
}

#little6{
  position: absolute;
  top: 1240px;
  right: 0px;
  width: 130px;
  height: 80px;
background-color: #bee5f4;
}

#pinkbox1{
  position: absolute;
  top: 60px;
  left: 315px;
  width: 20px;
  height: 20px;
  background-color: #ffe6e8;
  border-radius: 5px;
}

.weekendprogram{
  position: absolute;
  top: 1280px;
}

.weekendprogram h6{
  position: relative;
  left: 320px;
  font-size: 30px;
  font-family: courier;
  font-weight: normal;
}

.weekendprogram ul{
  position: absolute;
  top: 119px;
  left: 200px;
  margin: 0px;
}

.weekendprogram ul li{
  list-style-type: none;
  font-family: courier;
  font-size: 20px;
  line-height: 175px;
  text-transform: uppercase;
  text-align: right;
}

#weekendDurationTag{
  font-family: courier;
  font-size: 20px;
  line-height: 175px;
  text-transform: uppercase;
  position: absolute;
  top: 45px;
  left: 227px;

}

#weekendDuration{
  position:absolute;
  top: 120px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  left: 340px;
  width: 700px;
  height:300px;
}

#Eng{
  position:absolute;
  top: 175px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  left: 340px;
  width: 700px;
  height:300px;
}

#Mat{
  position: absolute;
  top: 350px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  left: 340px;
  width: 700px;
  height: 300px;
  }

#little7{
  position: absolute;
  top: 1775px;
  left: 0px;
  width: 130px;
  height: 80px;
  background-color: #bee5f4;
}

 #little8{
  position: absolute;
  top: 1775px;
  right: 0px;
  width: 130px;
  height: 80px;
   background-color: #bee5f4;
}

/*End of third page*/

/*Start of fourth page*/
 #little9{
  position: absolute;
  top: 1860px;
  left: 0px;
  width: 130px;
  height: 80px;
background-color: #ffe6e8;
}

#little10{
  position: absolute;
  top: 1860px;
  right: 0px;
  width: 130px;
  height: 80px;
 background-color: #ffe6e8;
}

#bluebox1{
  position: absolute;
  top: -6px;
  left: 353px;
  width: 20px;
  height: 20px;
  background-color: #bee5f4;
  border-radius: 5px;
}

.stateprogram{
  position: absolute;
  top: 1990px;
}

.stateprogram h7{
  position: relative;
  left: 360px;
  font-size: 30px;
  font-family: courier;
}

.stateprogram ul{
  position: absolute;
  top: 50px;
  left: 235px;
  margin: 0px;
}

.stateprogram ul li{
  list-style-type: none;
  font-family: courier;
  font-size: 20px;
  line-height: 70px;
  text-transform: uppercase;
  text-align: right;
}

#registration{
position: relative;
 margin: -60px;
  top: 100px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  left: 445px;
}

#text{
  position: absolute;
  top: 125px;
  left: 385px;
  width: 670px;
  height:300px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  text-align: left;
}

#special{
  position: absolute;
  top: 250px;
  left: 385px;
  width: 670px;
  height:300px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  text-align: left;
}

#little11{
  position: absolute;
  top: 2395px;
  left: 0px;
  width: 130px;
  height: 80px;
   background-color:#ffe6e8;
}

 #little12{
  position: absolute;
  top: 2395px;
  right: 0px;
  width: 130px;
  height: 80px;
    background-color: #ffe6e8;
}
/*End of fourth page*/

/*Start of fifth page*/
  #little13{
  position: absolute;
  top: 2480px;
  left: 0px;
  width: 130px;
  height: 80px;
 background-color: #bee5f4;
}

#little14{
  position: absolute;
  top: 2480px;
  right: 0px;
  width: 130px;
  height: 80px;
 background-color: #bee5f4;
}

#pinkbox2{
  position: absolute;
  top: 4340px;
  left: 280px;
  width: 20px;
  height: 20px;
  background-color: #ffe6e8;
  border-radius: 5px;
}

.r2s{
  position: absolute;
  top: -1750px;
}
.r2s h8{
  position: relative;
  top:4350px;
  left: 290px;
  font-size: 30px;
  font-family: courier;
}

#r2sDuration{
  position: absolute;
  top: 4390px;
  left: 350px;
  width: 700px;
  height: 385px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

#r2sinfo{
  position: absolute;
  top: 4440px;
  left: 350px;
  width: 700px;
  height: 385px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

#r2sinfo1{
  position: absolute;
  top: 4600px;
  left: 350px;
  width: 700px;
  height: 385px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

#durationTag{
  position: absolute;
  left: 240px;
  top: 4318px;
  font-family: courier;
  font-size: 20px;
  line-height: 160px;
  text-transform: uppercase;
  text-align: right;

}
.r2s ul{
  position: absolute;
  top: 4388px;
  left: 213px;
  margin: 0px;
}

.r2s ul li{
  list-style-type: none;
  font-family: courier;
  font-size: 20px;
  line-height: 160px;
  text-transform: uppercase;
  text-align: right;
}

#little15{
  position: absolute;
  top: 3015px;
  left: 0px;
  width: 130px;
  height: 80px;
   background-color: #bee5f4;
}

 #little16{
  position: absolute;
  top: 3015px;
  right: 0px;
  width: 130px;
  height: 80px;
   background-color: #bee5f4;
}

/*End of fifth page*/

/*Start of sixth page*/
#little17{
  position: absolute;
  left: 0px;
  top: 3105px;
  height: 80px;
  width: 130px;
   background-color:#ffe6e8;
}

#little18{
  position: absolute;
  right: 0px;
  top: 3105px;
  height: 80px;
  width: 130px;
 background-color: #ffe6e8;
}

#bluebox2{
  position: absolute;
  top: 4970px;
  left: 280px;
  width: 20px;
  height: 20px;
  background-color: #bee5f4;
  border-radius: 5px;
}

.w2s{
  position: absolute;
  top: -1750px ;
}

.w2s h9{
  position: relative;
  top:4980px;
  left: 280px;
  font-size: 30px;
  font-family: courier;
}

#w2sDuration{
  position: absolute;
  top: 5020px;
  left: 320px;
  width: 700px;
  height: 385px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}
#w2sinfo{
  position: absolute;
  top: 5070px;
  left: 320px;
  width: 700px;
  height: 385px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

#w2sinfo1{
  position: absolute;
  top: 5140px;
  left: 350px;
  width: 700px;
  height: 385px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;

}

#w2sinfo2{
position: absolute;
  top: 5222px;
  left: 350px;
  width: 700px;
  height: 385px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

#w2sinfo3{
position: absolute;
  top: 5280px;
  left: 350px;
  width: 700px;
  height: 385px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

.w2s ul{
  position: absolute;
  top: 5025px;
  left: 169px;
  margin: 0px;
}

.w2s ul li{
  list-style-type: none;
  font-family: courier;
  font-size: 20px;
  line-height: 50px;
  text-transform: uppercase;
  text-align: right;
}

#little19{
  position: absolute;
  left: 0px;
  top: 3640px;
  height: 80px;
  width: 130px;
 background-color:#ffe6e8;
}
#little20{
  position: absolute;
  right: 0px;
  top: 3640px;
  height: 80px;
  width: 130px;
   background-color: #ffe6e8;
}

/*End of sixth page*/

/*Start of seventh page */

#little21{
  position: absolute;
  left: 0px;
  top: 3725px;
  height: 80px;
  width: 130px;
  background-color: #bee5f4;
}

#little22{
  position: absolute;
  right: 0px;
  top: 3725px;
  height: 80px;
  width: 130px;
  background-color: #bee5f4;

}

#pinkbox3{
  position: absolute;
  top: 5580px;
  left: 330px;
  width: 20px;
  height: 20px;
  background-color: #ffe6e8;
  border-radius: 5px;
}

.engread{
  position: absolute;
  top: -1770px ;
}
.engread h10{
   position: relative;
  top:5590px;
  left: 330px;
  font-size: 30px;
  font-family: courier;
}

#engDuration{
   position: absolute;
  top: 5635px;
  left: 320px;
  width: 700px;
  height: 385px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;

}

#enginfo{
  position: absolute;
  top: 5685px;
  left: 320px;
  width: 700px;
  height: 385px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;

}

#enginfo1{
  position: absolute;
  top: 5790px;
  left: 350px;
  width: 700px;
  height: 385px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;

}

#enginfo2{
  position: absolute;
  top: 5860px;
  left: 350px;
  width: 700px;
  height: 385px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

#enginfo3{
  position: absolute;
  top: 5920px;
  left: 350px;
  width: 700px;
  height: 385px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

#enginfo4{
  position: absolute;
  top: 5980px;
  left: 350px;
  width: 700px;
  height: 385px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

.engread ul{
  position: absolute;
  top: 5640px;
  left: 165px;
  margin: 0px;

}

.engread ul li{
  list-style-type: none;
  font-family: courier;
  font-size: 20px;
  line-height: 50px;
  text-transform: uppercase;
  text-align: right;
}
#little23{
  position: absolute;
  left: 0px;
  top: 4260px;
  height: 80px;
  width: 130px;
  background-color: #bee5f4;
   z-index: 1;
}
#little24{
  position: absolute;
  right: 0px;
  top: 4260px;
  height: 80px;
  width: 130px;
  background-color: #bee5f4;
   z-index: 1;
}

/*End of seventh page */

/*Start of eighth page*/

#little25{
  position: absolute;
  left: 0px;
  top: 4350px;
  height: 80px;
  width: 130px;
  background-color: #ffe6e8;
   z-index: 1;
}

#little26{
  position: absolute;
  right: 0px;
  top: 4350px;
  height: 80px;
  width: 130px;
  background-color: #ffe6e8;
}

#bluebox3{
  position: absolute;
  top: 6200px;
  left: 350px;
  width: 20px;
  height: 20px;
  background-color: #bee5f4;
  border-radius: 5px;
}

.mathread{
  position: absolute;
  top: -1770px;
}
.mathread h11{
  position: relative;
  top:6200px;
  left: 350px;
  font-size: 30px;
  font-family: courier;
}

#matDuration{
  position: absolute;
  top: 6250px;
  left: 350px;
  width: 670px;
  height: 385px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

#matinfo{
  position: absolute;
  top: 6310px;
  left: 350px;
  width: 670px;
  height: 385px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

.mathread ul1{
  position: relative;
  top: 6385px;
  left: 570px;
  margin: 0px;

}

.mathread ul1 li{
   list-style-type: none;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 25px;
  text-align: left;
}

.mathread ul2{
  position: relative;
  top: 6410px;
  left: 570px;
  margin: 0px;

}

.mathread ul2 li{
   list-style-type: none;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 25px;
  text-align: left;
}

.mathread ul3{
  position: absolute;
  top: 6250px;
  left: 245px;
  margin: 0px;

}

.mathread ul3 li{
  list-style-type: none;
  font-family: courier;
  font-size: 18px;
  line-height: 60px;
  text-transform: uppercase;
  text-align: right;
}

.mathread ul4{
  position: absolute;
  top: 6391px;
  left: 218px;
  margin: 0px;

}

.mathread ul4 li{
  list-style-type: none;
  font-family: courier;
  font-size: 17px;
  line-height: 120px;
  text-transform: uppercase;
  text-align: right;
}

#little27{
  position: absolute;
  left: 0px;
  top: 4885px;
  height: 80px;
  width: 130px;
   background-color:#ffe6e8;
}
#little28{
  position: absolute;
  right: 0px;
   top: 4885px;
  height: 80px;
  width: 130px;
  background-color:#ffe6e8;
}
/*End of eighth page*/

/*Start of ninth page*/

#little29{
  position: absolute;
  left: 0px;
  top: 4970px;
  height: 80px;
  width: 130px;
   background-color: #bee5f4;
}

#little30{
  position: absolute;
  right: 0px;
   top: 4970px;
  height: 80px;
  width: 130px;
  background-color: #bee5f4;
}

.slider{
  position: relative;
  top: 3980px;
}


.pictureSlide{
  position: absolute;
  left: 220px;
  right: 230px; 
  top: 265px;
  width: 700px;
  height: 420px;
  margin: 50px;
  border-style: solid;
  border-width: 5px;
  border-color:#ffe6e8;
}

#students{
  position: absolute;
  font-size: 55px;
  top: 200px;
  font-family:'Lato', sans-serif;
  text-transform: uppercase;
  color: lightpink;
  border-style: solid;
  border-width: 3px;
  border-color: lightpink;
  padding: 10px;
  left: 250px;
  right: 250px;
  text-align: center;
  margin: auto;
  border-radius: 80px;
}



#little31{
  position: absolute;
  left: 0px;
  top: 5505px;
  height: 80px;
  width: 130px;
    background-color: #bee5f4;
}
#little32{
  position: absolute;
  right: 0px;
 top: 5505px;
  height: 80px;
  width: 130px;
  background-color: #bee5f4;
}

/*End of ninth page*/

/*Start of tenth page*/
#little33{
  position: absolute;
  left: 0px;
  top: 5590px;
  height: 80px;
  width: 130px;
   background-color: #ffe6e8;
}

#little34{
  position: absolute;
  right: 0px;
   top: 5590px;
  height: 80px;
  width: 130px;
   background-color: #ffe6e8;
}

.Staff{
  position: relative;
  top: 3460px;
  font-family: courier;
  color: #66c1e5;
  font-size: 32px;
  background-color: #fffaf0;
}

#teachers{
  position: absolute;
  font-size: 55px;
  top: 1260px;
  font-family:'Lato', sans-serif;
  text-transform: uppercase;
  border-style: solid;
  border-width: 3px;
  border-color: #bee5f4;
  padding: 10px;
  left: 250px;
  right: 250px;
  text-align: center;
  border-radius: 50px;
}

#teacherpic1{
  position: absolute;
  left: 30px;
  top: 1450px;
  height: 350px;
  width: 270px;

}


#teacherpic2{
  position: absolute;
  right: 495px;
  top: 1450px;
  height: 350px;
  width: 270px;

}

#teacherpic3{
  position: absolute;
  right: 30px;
  top: 1450px;
  height: 350px;
  width: 270px;

}

#teacherpic4{
  position: absolute;
  left: 30px;
  top: 1900px;
  height: 350px;
  width: 270px;
 
}


#teacherpic5{
  position: absolute;
  right: 495px;
  top: 1900px;
  height: 350px;
  width: 270px;
 
}


#teacherpic6{
  position: absolute;
  right: 30px;
  top: 1900px;
  height: 350px;
  width: 270px;

}


#teachername1{
  position: absolute;
  top: 1790px;
  left: 70px;
  border-width: 2px;
  border-color: lightpink;
  border-style: solid;
  font-size: 25px;
  padding: 5px;
  font-family: courier;
}

#teachername2{
  position: absolute;
  top: 1790px;
  right: 555px;
  font-size: 25px;
  border-width: 2px;
  border-color: lightpink;
  border-style: solid;
  padding: 5px;
  font-family: courier;
}

#teachername3{
  position: absolute;
  top: 1790px;
  right: 70px;
  font-size: 25px;
  border-width: 2px;
   border-color: lightpink;
  border-style: solid;
  padding: 5px;
  font-family: courier;
}



#teachername4{
  position: absolute;
  top: 2240px;
  left: 70px;
  border-width: 2px;
   border-color: lightpink;
  border-style: solid;
  padding: 5px;
  font-family: courier;
  font-size: 25px;
}

#teachername5{
  position: absolute;
  top: 2240px;
  right: 550px;
  border-style: solid;
  border-width: 2px;
   border-color: lightpink;
  padding: 5px;
   font-family: courier;
  font-size: 25px;
}

#teachername6{
  position: absolute;
  top: 2240px;
  right: 75px;
  border-style: solid;
  border-width: 2px;
  border-color: lightpink;
  padding: 5px;
  font-family: courier;
  font-size: 25px;
}


.staffinfo1{
  position: absolute;
  top: 1465px;
  left: 287px;
  text-align: center;
  border-style: solid;
   border-color: pink;
  border-width: 5px;
  width: 320px;
  height: 320px;
  font-size: 15px;
  font-family: courier;
  z-index: 1;
  background-color: white;
}


.staffinfo2{
  position: absolute;
  top: 1465px;
  right: 5px;
  text-align: center;
  border-style: solid;
  border-color: pink;
  border-width: 5px;
  width: 320px;
  height: 320px;
  font-size: 15px;
  font-family: courier;
  z-index: 1;
  background-color: white;
}
.staffinfo3{
  position: absolute;
  top: 1910px;
  right: 5px;
  text-align: center;
  border-style: solid;
  border-color: pink;
  border-width: 5px;
  width: 320px;
  height: 320px;
  font-size: 15px;
  font-family: courier;
  z-index: 1;
  background-color: white;
}
.staffinfo4{
  position: absolute;
  top: 1910px;
  left: 285px;
  text-align: center;
  border-style: solid;
   border-color: pink;
  border-width: 5px;
  width: 320px;
  height: 320px;
  font-size: 15px;
  font-family: courier;
  z-index: 1;
  background-color: white;
}

#little35{
  position: absolute;
  left: 0px;
  top: 6625px;
  height: 80px;
  width: 130px;
   background-color: #ffe6e8;
}
#little36{
  position: absolute;
  right: 0px;
 top: 6625px;
  height: 80px;
  width: 130px;
    background-color: #ffe6e8;
  }
/*End of tenth page*/

/*Start of eleventh page*/

/*End of eleventh page*/

/*Start of twelfth page*/
#circ{
  position: absolute;
  background-color: #fffaf0;;
  height: 600px;
  width: 600px;
  border-style: solid;
  border-color: lightpink;
  border-width: 3px;
  border-radius: 580px;
  top: 6800px;
  left: 350px;

}

#bluebox4{
  position: absolute;
  top: 7415px;
  left: 545px;
  width: 20px;
  height: 20px;
  background-color: #bee5f4;
  border-radius: 5px;
}

#circContainer{
  position: relative;
  top: -1420px;
  background-color:  #fffaf0;;
}

h13{
  position: absolute;
  top:7420px;
  left: 550px;
  font-family: courier;
  font-size: 25px;

}

h14{
  position: absolute;
  top: 7600px;
  left: 430px;
  font-family: courier;
  font-size: 25px;
}

h15{
  position: absolute;
  top: 7660px;
  left: 470px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: arial;
  font-size: 30px;
  border-style: solid;
  border-color:#bee5f4;
  border-radius: 10px;
  border-width: 5px;
  padding: 10px;

}

h16{
  position: absolute;
  top: 7760px;
  left: 412px;
  font-family: courier;
  font-size: 20px;
}

#logo{
  position: absolute;
  left: 565px;
  top: 6930px;
  width: 150px;
  height: 100px;
  border-style: solid;
  border-width: 5px;
  border-color: #bee5f4;
  border-radius: 10px;
}
/* End of twelfth page*/

/*Start of thirteenth page*/

#circ1Container{
  position: relative;
  top: -1300px;
}

#circ1{
  position: absolute;
  background-color: white;
  border-width: 3px;
  border-style: solid;
  border-color: #bee5f4;
  height: 600px;
  width: 600px;
  border-radius: 580px;
  top: 7970px;
  left: 350px;
  background-color:  #fffaf0;
}

#pinkbox5{
  position: absolute;
  top: 8045px;
  left: 530px;
  width: 20px;
  height: 20px;
  background-color: #ffe6e8;
  border-radius: 5px;
}

h17{
  position: absolute;
  top: 8050px;
  left: 540px;
  font-family: courier;
  font-size: 25px;
}

h18{
  position: absolute;
  top: 8150px;
  left: 550px;
  font-family: courier;
  font-size: 25px;

}

h19{
  position: absolute;
  top: 8220px;
  left: 460px;
  font-family: courier;
  font-size: 26px;
}

h20{
  position: absolute;
  top: 8320px;
  left: 570px;
  font-family: courier;
  font-size: 25px;
}

h21{
  position: absolute;
  top: 8390px;
  left: 530px;
  font-family: courier;
  font-size: 24px;
}

#end{
  position: absolute;
  top: 8250px;
  width: 1255px;
  height: 30px;
  background-color: #ffe6e8;
}
/*End of thirteenth page*/




/*
#blu1{
  position: absolute;
  left: -10px;
  top: 3000px;
  background-color: lightblue;
  width: 1273px;
  height: 620px;
}



#pin1{
  position: absolute;
  top:3620px;
  left: -10px;
  background-color: white;
  width: 1273px;
  height: 620px;
}

#white2{
  position: absolute;
  top: 3650px;
  left: 50px;
  right: 50px;
  width: 1160px;
  height: 560px;
  background-color: white;
  border-radius: 80px;
}


#blu2{
  position: absolute;
  left: -10px;
  top: 4240px;
  background-color: lightblue;
 width: 1273px;
  height: 620px;
}


#white3{
  position: absolute;
  top: 4270px;
  left: 50px;
  right: 50px;
  width: 1160px;
  height: 560px;
  background-color: white;
  border-radius: 80px;
}

#pin2{
  position: absolute;
  top:4860px;
  left: -10px;
  background-color: pink;
  width: 1273px;
  height: 620px;
}

#white4{
  position: absolute;
  top: 4890px;
  left: 50px;
  right: 50px;
  width: 1160px;
  height: 560px;
  background-color: white;
  border-radius: 80px;
}

#blu3{
  position: absolute;
  left: -10px;
  top: 5480px;
  background-color: lightblue;
  width: 1273px;
  height: 620px;
}


#white5{
  position: absolute;
  top: 5510px;
  left: 50px;
  right: 50px;
  width: 1160px;
  height: 560px;
  background-color: white;
  border-radius: 80px;
}

#blu4{
  position: absolute;
  left: -10px;
  top: 6720px;
  background-color: lightblue;
  width: 1273px;
  height: 620px;
}

#pin3{
  position: absolute;
  top:6100px;
  left: -10px;
  background-color: pink;
  width: 1273px;
  height: 620px;
}

#pin4{
  position: absolute;
  top:7340px;
  left: -10px;
  background-color: pink;
  width: 1273px;
  height: 620px;
  z-index:-1;
}

#white6{
  position: absolute;
  top: 6130px;
  left: 50px;
  right: 50px;
  width: 1160px;
  height: 560px;
  background-color: white;
  border-radius: 80px;
}

#white7{
  position: absolute;
  top: 6750px;
  left: 50px;
  right: 50px;
  width: 1160px;
  height: 560px;
  background-color: white;
  border-radius: 80px;
  z-index: 1;
}

#pin5{
  position: absolute;
  left: -10px;
  top: 2350px;
  background-color: lightpink;
  width: 1273px;
  height: 650px;
}

#blu6{
  position: absolute;
  top:7960px;
  left: -10px;
  background-color: lightblue;
  width: 1273px;
  height: 620px;
  z-index:-1;
}

.blue6{
  position: relative;
  top: -905px;
}

.pink4{
  position: relative;
  top: -1005px;
}

*/
.fa{
  position: absolute;
  top: 8230px;
  left: 430px;
  font-size: 165px;
}

.fixed{
  position: fixed;
  top: 0;
}
